.Dropdown {
    position: relative;
}

.Dropdown .trig {
    padding: 10px 20px;
    border: 1px solid #d1d1d1;
    background-color: #f9f9f9;
}

.Dropdown .trig:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.Dropdown .trig:active {
    cursor: pointer;
    background-color: #e1e1e1;
}

.Dropdown .list {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    box-sizing: border-box;
}

.Dropdown .list > * {
    padding: 5px 10px;
    border-bottom: 1px solid #e1e1e1;
}

.Dropdown .list > *:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}

.Dropdown .list > *:active {
    background-color: #d1d1d1;
}

.Dropdown .list > .selected {
    background-color: #b1b1b1;
}