.Btn {
    background-color: #1f75cb;
    box-shadow: inset 0 0 0 1px #1068bf;
    border: none;
    padding: 7px 12px;
    color: #fff;
    border-radius: 4px;
}

.Btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Btn:active {
    opacity: 0.9;
}