.Grid {
    display: grid;
    height: 100%;
}

.Grid > * {
    padding: 20px;
}

.Grid.Header {
    grid-template-rows: 60px 1fr;
}

.Grid.Header > :first-child {
    background-color: #333;
    color: #fff;
}


.Grid.SideBar {
    grid-template-columns: 150px 1fr;
}

.Grid.SideBar > :first-child {
    background-color: #e1e1e1;
}

.Grid.SideBar > :nth-child(2) {
    background-color: green;
}