html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
}

body, button, input {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a.active {
    color: #1f75cb;
}