.Line {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.Line.Between {
    justify-content: space-between;
}

.Line.Rows {
    flex-direction: column;
}